<%= form_for([@cause, @journal_entry], html: {role: 'form'}) do |f| %>
  <% if @journal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

      <ul>
      <% @journal_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject, 'Asunto' %><br>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :body, 'Descripción' %><br>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :date, 'Fecha' %><br>
    <% #f.datetime_select :date %>
    <input type="date" name="journal_entry[date]" value="<%= Time.now.strftime('%F') %>" class="form-control">
  </div>
  <div class="field">
    <%= f.label :cause_state_id, 'Estado de causa' %><br>
    <%= f.select :cause_state_id, options_from_collection_for_select(CauseState.all, :id, :name), {}, {class: 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
