<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li>Home</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"><span class="fa fa-home"></span> Home</h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6 ui-sortable">
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6 ui-sortable">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon"><i class="fa fa-users"></i></div>
            <div class="stats-info">
                <h4>CLIENTES</h4>
                <p><%= current_user.clients.count %></p>   
            </div>
            <div class="stats-link">
                <%= link_to 'Ver Detalle <i class="fa fa-arrow-circle-o-right"></i>'.html_safe, clients_path %>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6 ui-sortable">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
            <div class="stats-info">
                <h4>CAUSAS</h4>
                <p><%= current_user.causes.count %></p>    
            </div>
            <div class="stats-link">
                <%= link_to 'Ver Detalle <i class="fa fa-arrow-circle-o-right"></i>'.html_safe, causes_path %>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6 ui-sortable">
    </div>
    <!-- end col-3 -->
</div>
<!-- end row -->
<!-- /.row -->
<% current_user.journal_entries.each do |je| %>
<div class="row">
    <div class="col-md-<%= cycle('2', '4') %>"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="label label-<%= je.cause_state.color || 'default' %> pull-right">ESTADO: <%= je.cause_state.name %></span><%= link_to "Avance en: #{je.cause.matter}", je.cause %><br>
                <%= link_to "#{time_ago_in_words(je.created_at)} ago", cause_journal_entry_path(je.cause.id, je.id), class: 'small' %></h3>
          </div>
          <div class="panel-body">
            Cliente: <%= link_to je.cause.client.name, je.cause.client %><br>
            Asunto: <%= je.subject %><br>
            <%= je.body %>
          </div>
        </div>
    </div>
</div>
<% end %>
