<p id="notice"><%= notice %></p>


<div class="row">
	<div class="col-md-5"></div>
	<div class="col-md-6">
		<i class="glyphicon glyphicon-user" style="color: #428bca; font-size:90px; padding-bottom: 30px;"></i>&nbsp;&nbsp;&nbsp;<strong><%= current_user.name %></strong>
	</div>
</div>
	<div class="row">
		<div class="col-md-2"></div>
  			<div class="col-md-8">
				<div class="panel panel-default">
		    		<div class="panel-body">
						<div class="col-md-3"></div>	
						<div class="col-md-6">
							<div class="panel panel-info">
						  		<div class="panel-heading">Nombre</div>
						  			<div class="panel-body"><%= current_user.name %></div>
							</div>
							<div class="panel panel-info">
						  		<div class="panel-heading">Rol</div>
						  			<div class="panel-body"><%= current_user.profile.long_name %></div>
							</div>
							<div class="panel panel-info">
						  		<div class="panel-heading">Organización</div>
						  			<div class="panel-body"><%= current_user.organization.name %></div>
							</div>
							<div class="panel panel-info">
						  		<div class="panel-heading">Rut</div>
						  			<div class="panel-body"><%= current_user.id_number %></div>
							</div>
							<div class="panel panel-info">
						  		<div class="panel-heading">Email</div>
						  			<div class="panel-body"><%= current_user.email %></div>
						 	</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
