<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Organización:</strong>
  <%= current_user.organization.name %>
</p>

<p>
  <strong>RUT:</strong>
  <%= current_user.id_number %>
</p>

<p>
  <strong>e-mail:</strong>
  <%= current_user.email %>
</p>