<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Usuarios <small>de <%= @organization.name %></small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <%= link_to 'Organizaciones', organization_path(@organization) %> > <%= link_to 'Usuarios', organization_users_path %> > Ver
            </li>
        </ol>
    </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @user.profile.long_name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @user.id_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Editar', edit_organization_user_path(@organization, @user), class: 'btn btn-default btn-xs' %> |
<%= link_to 'Atrás', organization_users_path, class: 'btn btn-default btn-xs' %>