<div class="row">
  <div class="col-md-6">
<%= form_for(@cause) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rol %><br>
    <%= f.text_field :role, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :materia %><br>
    <%= f.text_field :matter, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :honorario %><br>
    <%= f.text_field :honorary, class: 'form-control' %>
  </div>
  <div class="field">
    <label for="Rut">Rut:</label>
    <input type="text" class="form-control" id="client_id_number" placeholder="14.569.484-1"/>
   </div> 
    <%= f.hidden_field :client_id %>
  <div class="field">
    <%= f.label :cause_type_id %><br>
    <%= f.select :cause_type_id, options_from_collection_for_select(CauseType.all, :id, :name), {}, {class: 'form-control'} %>
  </div>
  <div class="field">
    <%= f.label :court_id %><br>
    <%= f.select :court_id, options_from_collection_for_select(Court.all, :id, :name), {}, {class: 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
  <div class="col-md-6"></div>
</div>
<script type="text/javascript">
      $(function(){
        $("input#client_id_number").rut({formatOn: 'keyup', validateOn: 'keyup'}).on('rutInvalido', function(){ $(this).parents(".field").addClass("has-error")}).on('rutValido', function(){ $(this).parents(".field").removeClass("has-error")});
        
      });
    </script>