<div class="row">
  <div class="col-md-6">
<%= form_for(@cause) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role, 'Rol' %><br>
    <%= f.text_field :role, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :matter, 'Materia' %><br>
    <%= f.text_field :matter, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :honorary, 'Honorarios' %><br>
    <%= f.text_field :honorary, class: 'form-control' %>
  </div>
  <div class="field" ng-controller="GetClientController" id="GetClientController">
    <label for="client_id_number">Rut Cliente:</label>
    <input type="text" class="form-control" id="client_id_number" placeholder="14.569.484-1" ng-model="rut" name="client_id_number"/>
    <%= f.hidden_field :client_id %>
   </div> 
  <div ng-controller="CourtController">
    <div class="field">
      <%= f.label :area_id %><br>
      <%= f.select :area_id, options_from_collection_for_select(Area.all, :id, :name), {}, {class: 'form-control', 'ng-change' => 'getCourts()', 'ng-model' => 'area_select'} %>
    </div>
    <div class="field">
      <label>Tribunal</label><br>
      <select id='cause_court_id' name='cause[court_id]' class='form-control' >
        <option ng-repeat="court in courts" value='{{court.id}}'>{{court.name}}</option>
      </select>
    </div>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
  <div class="col-md-6"></div>
</div>
<script type="text/javascript">
      $(function(){
        $("input#client_id_number").rut({formatOn: 'keyup', validateOn: 'keyup'}).on('rutInvalido', function(){ $(this).parents(".field").addClass("has-error").removeClass("has-success")}).on('rutValido', function(){ $(this).parents(".field").removeClass("has-error").addClass("has-success"); angular.element('#GetClientController').scope().getClient()});
      });
    </script>