<div class="row">
  <div class="col-md-6">
<%= form_for(@cause) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :matter %><br>
    <%= f.text_field :matter, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :honorary %><br>
    <%= f.text_field :honorary, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.select :client_id, options_from_collection_for_select(Client.all, :id, :id_number), {}, {class: 'form-control'} %>
  </div>
  <div class="field">
    <%= f.label :cause_type_id %><br>
    <%= f.select :cause_type_id, options_from_collection_for_select(CauseType.all, :id, :name), {}, {class: 'form-control'} %>
  </div>
  <div class="field">
    <%= f.label :court_id %><br>
    <%= f.select :court_id, options_from_collection_for_select(Court.all, :id, :name), {}, {class: 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
  <div class="col-md-6"></div>
</div>