<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Causa <small>Ver</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <%= link_to 'Causas', causes_path %> > Ver
            </li>
        </ol>
    </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Rol:</strong>
  <%= @cause.role %>
</p>

<p>
  <strong>Tribunal:</strong>
  <%= @cause.court.name %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @cause.matter %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cause.state %>
</p>

<p>
  <strong>Honorarios:</strong>
  <%= @cause.honorary %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @cause.client.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @cause.area.name %>
</p>
<%= link_to 'Ingresar Avance', new_cause_journal_entry_path(@cause), class: 'btn btn-primary' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Asunto</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cause.journal_entries.each do |je| %>
      <tr>
        <td><%= je.subject %></td>
        <td><%= je.body %></td>
        <td><%= je.date %></td>
        <td><%= je.cause_state.name %></td>
        <td><%= link_to 'Ver', cause_journal_entry_path(@cause.id, je.id), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Editar', edit_cause_journal_entry_path(@cause.id, je.id), class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Eliminar', cause_journal_entry_path(@cause.id, je.id), class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: "Estás seguro de eliminar #{je.subject}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', edit_cause_path(@cause), class: 'btn btn-default btn-xs' %> |
<%= link_to 'Atras', causes_path, class: 'btn btn-default btn-xs' %>
