<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Causa <small>Ver</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <%= link_to 'Causas', causes_path %> > Ver
            </li>
        </ol>
    </div>
</div>
<div class="row">
  <div class="list-group col-md-4">
    <a href="#" class="list-group-item active">
       Detalle de la Causa
    </a>
    <a class="list-group-item">ROL: <%= @cause.role %></a>
    <a class="list-group-item">TRIBUNAL: <%= @cause.court.name %></a>
    <a class="list-group-item">MATERIA: <%= @cause.matter %></a>
    <a class="list-group-item"><span class="label label-success">ESTADO: <%= @cause.state %></span></a>
    <a class="list-group-item">HONORARIOS: <%= @cause.honorary %></a>
    <a class="list-group-item">CLIENTE: <%= @cause.client.name %></a>
    <a class="list-group-item">ÁREA: <%= @cause.area.name %></a>
  </div>
  <div class="list-group col-md-4">
    <a href="#" class="list-group-item active">
       Detalle Cliente
    </a>
    <a class="list-group-item">Nombre: <%= @cause.client.data.name %></a>
    <a class="list-group-item">E-mail: <%= @cause.client.data.email %></a>
    <a class="list-group-item">Telefono: <%= @cause.client.data.phone %></a>
    <a class="list-group-item">Dirección: <%= @cause.client.data.address %></a>
    <% if @cause.client.client_type.name == 'Persona' %>
      <a class="list-group-item">Otro: <%= @cause.client.data.other %></a>
    <% end %>
  </div>
</div>
<%= link_to 'Ingresar Avance', new_cause_journal_entry_path(@cause), class: 'btn btn-primary' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Asunto</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cause.journal_entries.each do |je| %>
      <tr>
        <td><%= je.subject %></td>
        <td><%= je.body %></td>
        <td><%= je.date %></td>
        <td><%= je.cause_state.name %></td>
        <td><%= link_to 'Ver', cause_journal_entry_path(@cause.id, je.id), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Editar', edit_cause_journal_entry_path(@cause.id, je.id), class: 'btn btn-primary btn-xs' %></td>
        <% if je != @cause.journal_entries.first %>
        <td><%= link_to 'Eliminar', cause_journal_entry_path(@cause.id, je.id), class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: "Estás seguro de eliminar #{je.subject}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', edit_cause_path(@cause), class: 'btn btn-default btn-xs' %> |
<%= link_to 'Atras', causes_path, class: 'btn btn-default btn-xs' %>
