<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Causa <small>Ver</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <%= link_to 'Causas', causes_path %> > Ver
            </li>
        </ol>
    </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @cause.role %>
</p>

<p>
  <strong>Court:</strong>
  <%= @cause.court.name %>
</p>

<p>
  <strong>Matter:</strong>
  <%= @cause.matter %>
</p>

<p>
  <strong>State:</strong>
  <%= @cause.state %>
</p>

<p>
  <strong>Honorary:</strong>
  <%= @cause.honorary %>
</p>

<p>
  <strong>Client:</strong>
  <%= @cause.client.id_number %>
</p>

<p>
  <strong>Area:</strong>
  <%= @cause.area.name %>
</p>
<%= link_to 'Ingresar Avance', new_cause_journal_entry_path(@cause), class: 'btn btn-primary' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Asunto</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <% @cause.journal_entries.each do |je| %>
      <tr>
        <td><%= je.subject %></td>
        <td><%= je.body %></td>
        <td><%= je.date %></td>
        <td><%= je.cause_state.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_cause_path(@cause), class: 'btn btn-default btn-xs' %> |
<%= link_to 'Back', causes_path, class: 'btn btn-default btn-xs' %>
