 <% content_for :js do %>
	<script type="text/javascript">
	$( document ).ready(function() {
		$('#status').change(function(){
			id = $('#status option:selected').val();
		    if (id == "people") {
		        $("#people").slideDown();
		        $("#company").slideUp();
		    }

		    if (id == "company") {
		    	$("#company").slideDown();
		        $("#people").slideUp(); 
		    }
		});
	});
	</script>

<% end %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Cliente <small>Nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <%= link_to 'Clientes', clients_path %> > Nuevo
            </li>
        </ol>
    </div>
</div>
<h2>Seleccione el tipo de cliente:</h2>
	<select name="status" id="status">
	  <option value="company">Empresa</option>
	  <option value="people">Persona</option>
	</select>
<div id="company">
	<h3> Empresa</h3>
    <%= form_tag("/clients", method: "post") do %>
    	<div class="form-group">
		  <%= label_tag(:name_social_reason, "Nombre o Raz贸n Social:") %>
		  <%= text_field_tag(:name_social_reason, nil, class: "form-control") %>
		</div>
		<div class="form-group">  
		  <%= label_tag(:company_id_number, "Rut Empresa:") %>
		  <%= text_field_tag(:company_id_number, nil, class: "form-control") %>
		</div>
		<div class="form-group">  
		  <%= label_tag(:address, "Direcci贸n:") %>
		  <%= text_field_tag(:address, nil, class: "form-control") %>
		</div>  
		<div class="form-group">
		  <%= label_tag(:phone, "Telefono:") %>
		  <%= text_field_tag(:phone, nil, class: "form-control") %>
		</div>
		<div class="form-group">
		  <%= label_tag(:email, "Email:") %>
		  <%= text_field_tag(:email, nil, class: "form-control") %>
		</div> 
		<%= hidden_tag(:client_type_id) %>
		<div class="actions"> 
		  <%= submit_tag(value = "Ingresar", class: 'btn btn-primary') %>
		</div>
	<% end %>
</div>
<div id="people" style="display:none;">
	<h2> Persona Natural</h2>
	    <%= form_tag("/clients", method: "post") do %>
		    <div class="form-group">
				<%= label_tag(:name_social_reason, "Nombre o Raz贸n Social:") %>
				<%= text_field_tag(:name_social_reason, nil, class: "form-control") %>
			</div>
			<div class="form-group">
				<%= label_tag(:company_id_number, "Rut Empresa:") %>
				<%= text_field_tag(:company_id_number, nil, class: "form-control") %>
			</div>
			<div class="form-group">	
				<%= label_tag(:email, "Email:") %>
				<%= text_field_tag(:email, nil, class: "form-control") %>
			</div>
			<div class="form-group">
				<%= label_tag(:phone, "Telefono:") %>
				<%= text_field_tag(:phone, nil, class: "form-control") %>
			</div>	
			<div class="form-group">
				<%= label_tag(:address, "Direcci贸n:") %>
				<%= text_field_tag(:address, nil, class: "form-control") %>
			</div>
			<div class="form-group">
				<%= label_tag(:other, "Otro Dato:") %>
				<%= text_field_tag(:otrer, nil, class: "form-control") %>
			<div class="actions">	  
				<%= submit_tag(value = "Ingresamelo", class: 'btn btn-primary') %>
			</div>
		<% end %>
</div>
