<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(@event) do |f| %>
          <% if @event.errors.any? %>
            <div class="alert alert-warning" id="error_explanation">
              <%= pluralize(@event.errors.count, "error") %> , Impidió que el evento se guardara, debido a:
              <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.label :name, 'Nombre' %><br>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :description, 'Descripción' %><br>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
          <div class="field">
            <%= label_tag :date, 'Fecha' %><br>
            <input type="date" name="date" value="<%= @event.date_time.strftime('%F') %>" class="form-control">
          </div>
          <div class="field">
            <%= label_tag :time, 'Fecha' %><br>
            <input type="time" name="time" value="<%= @event.date_time.strftime('%H:%M') %>" class="form-control">
          </div>
          <div class="actions" style="margin-top:20px;">
            <%= f.submit nil, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
