<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @organization.id_number %>
</p>

<p><%= link_to 'Usuarios', organization_users_path(@organization), class: 'btn btn-primary' %></p>

<%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-default btn-xs' %> |
<%= link_to 'Back', organizations_path, class: 'btn btn-default btn-xs' %>
