<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Organizaciones <small>Show</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <%= link_to 'Organizaciones', organizations_path %> > Ver
            </li>
        </ol>
    </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @organization.id_number %>
</p>

<p><%= link_to 'Usuarios', organization_users_path(@organization), class: 'btn btn-primary' %> <%= link_to 'Perfiles', organization_profiles_path(@organization), class: 'btn btn-primary' %></p>

<%= link_to 'Editar', edit_organization_path(@organization), class: 'btn btn-default btn-xs' %> |
<%= link_to 'Atrás', organizations_path, class: 'btn btn-default btn-xs' %>
